.form-group > label {
  display: flex !important;
  align-items: center;
  cursor: pointer;
}

.form-group > label > input[type='radio'] {
  display: none;
}

.form-group > label > svg {
  margin-right: 5px;
}

.form-group > label > input[type='radio']:checked + svg {
  margin-right: 5px;
  color: var(--primary-color);
}
